<div class="sub-page text-page">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="title">
                    <h1>This is a page with alert boxes</h1>
                </div><!-- .title -->
            </div><!-- .col-md-12 -->
        </div><!-- .row -->

        <div class="row">
            <div class="col-md-12">

                <div role="alert" class="alert alert-success">
                    <h4>Alert 1</h4>
                    <strong>Well done!</strong> You successfully read this important alert message.
                </div><!-- .alert -->

                <div role="alert" class="alert alert-info">
                    <h4>Alert 2</h4>
                    <strong>Heads up!</strong> This alert needs your attention, but it's not super important.
                </div><!-- .alert -->

                <div role="alert" class="alert alert-warning">
                    <h4>Alert 3</h4>
                    <strong>Warning!</strong> Better check yourself, you're not looking too good.
                </div><!-- .alert -->

                <div role="alert" class="alert alert-danger">
                    <h4>Alert 4</h4>
                    <strong>Oh snap!</strong> Change a few things up and try submitting again.
                </div><!-- .alert -->


            </div><!-- .col-md-12 -->
        </div><!-- .row -->

    </div><!-- .container-570 -->
</div><!-- .account-page -->